.check {
		display: flex;
		flex-direction: column;
		position: absolute;
		left: -90px;
		flex-wrap: wrap;
}
.check a {
	display: inline-block
}
.check a:last-child {
	margin-top: 26px;
}
.animated {
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

.animated.flipOutX,
.animated.flipOutY,
.animated.bounceIn,
.animated.bounceOut {
  -webkit-animation-duration: .75s;
  animation-duration: .75s;
}
#signInAndSignUp {
		height: 175px;
		overflow: hidden;
}
.main .check {
  top: -66px;
}
.main .check a {
 margin: 0;
}
[v-cloak] {
  display: none;
}